<div>
    <h1>Bienvenido al chat</h1>
    <p id="messageLogs">
    </p>
</div>
<div>
    <input id="chatbox">
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>