<head><link rel="stylesheet" type="text/css" href="/css/profile.css"></head>
<div>
    <h1>Perfil</h1>
    <p>Nombre completo: {{user.name}}</p>
    <p>email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <div id="perfil">
    <button id="logout">Cerrar Sesion</button>
    <button><a href="/products">Ir a productos</a></button>
    <button><a href="/api/chat">Ir al chat</a></button>
    </div>
</div>

<script src="/js/userHandler.js"></script>