<div>
    <h1>Perfil</h1>
    <p>Nombre completo: {{user.name}}</p>
    <p>email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <button id="logout">Cerrar Sesion</button>
</div>

<script src="/js/userHandler.js"></script>