<head><link rel="stylesheet" type="text/css" href="/css/recover.css"></head>
<div id="recoverDiv">
    <span>Ingrese su email, si es valido le enviaremos el siguiente paso para reestablecer la contraseña</span>
    <form id="recoverForm">
        <label>Ingrese su email</label>
        <Input name="email"></Input>
        <button type="submit">Enviar</button>
    </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/userHandler.js"></script>