<head><link rel="stylesheet" type="text/css" href="/css/recover.css"></head>
<div id="recoverDiv">
    <form id="resetPassForm">
    <Label>Ingrese su nueva contraseña</Label>
    <input type="text" name="pass">
    <label>Repita la contraseña</label>
    <input type="text" name="passDup">
    <input type="text" style="display: none;" name="token" value=""/>
    <button type="submit">Enviar</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/userHandler.js"></script>