<h1>Registrarse</h1>
<form id="signupForm">
    <label>Nombre</label>
    <input name="first_name">
    <br>
    <label>Apellido</label>
    <input name="last_name">
    <br>
    <label>Edad</label>
    <input name="age" type="number">
    <br>
    <label>Email</label>
    <input name="email" type="email">
    <br>
    <label>Contraseña</label>
    <input name="password" type="password">
    <br>
        <label for="switch">Selecciona tu opción:</label>
    <label class="switch">
        <input type="checkbox" id="switch" onchange="toggleOptions()">
        <span class="slider"></span>
    </label>
    <span id="selectedOption">User</span>
    <input type="hidden" id="selectedOptionInput" name="role" value="user">
    <br>
    <button type="submit">Ingresar</button>
</form>

<script src="/js/userHandler.js"></script>