body {
  font-family: Arial, sans-serif;
  margin: 5%;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 18px;
}
#perfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#perfil p {
  margin: 10px;
  text-align: center;
}
#perfil button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

#perfil button a {
  text-decoration: none;
  color: white;
}
